* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.body-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 auto;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  transition: all 250ms ease-in-out;
}
body::-webkit-scrollbar {
  width: 0 !important;
}
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

main {
  position: relative;
}
