:root {
  // Color
  --primary-white-color: #ffffff;
  --brand-orange-color: #ff6b08;
  --text-color: #000000;
  --logo-color: #818181;
  --notification-red-color: #ff001b;
  --footer-bg-color: #f7f7f7;
  // Shadow
  --btn-active-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  --btn-hover-shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  // Fonts
  --main-font: 'Roboto', sans-serif;
  //transition
  --duration: 250ms;
  --timing-function: linear;
}
