<header class="page-header">
  <div class="container header-container">
    <div class="nav-section">
      <a href="./index.html" class="logo">
        <svg class="logo__icon animate__animated animate__zoomIn animate__delay-2s" width="24" height="24">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__title">Filmoteka</span>
      </a>
      <nav class="navigation">
        <ul class="menu">
          <li class="menu__item">
            <a href="#" class="menu__link home-link current">Home</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link lib-link">my library</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Переключатель темы -->

    <div class="theme-switch">
      <svg class="theme-switch__icon icon-sun" role="img" aria-label="Иконка солнца">
        <use href="./images/sprite.svg#sun"></use>
      </svg>

      <div class="theme-switch__control">
        <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
          aria-label="Переключить между тёмной и светлой темой" />
        <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>

      <svg class="theme-switch__icon icon-moon" aria-label="Иконка луны">
        <use href="./images/sprite.svg#moon"></use>
      </svg>
    </div>

    <div class="header-search">
      <form class="search-form">
        <input type="text" class="input" name="searchQuery" autocomplete="off" placeholder="Поиск фильмов" />
        <div class="search__btn">
          <svg class="search__icon">
            <use href="./images/sprite.svg#icon-search" width="12" height="12"></use>
          </svg>
        </div>
      </form>
    </div>

    <p class="notify-text no-success"></p>
    <p class="notify-text success"></p>

    <ul class="btn__list visually-hidden">
      <li class="watched-btn button button-active btn-lib">Watched</li>
      <li class="queue-btn button btn-lib">queue</li>
    </ul>
  </div>
</header>