<section class="movies section">
  <div class="container">
    <div class="filler"></div>
    <h1 class="visually-hidden">Welcome to Filmoteka Page</h1>
    <h2 class="visually-hidden">Searched movies</h2>
    <div class="search-btn">
      <ul class="search-btn-list">
        <li class="search-btn-item">
          <button type="button" class="button popular-btn" data-action="popular">TRENDING</button>
        </li>
        <li class="search-btn-item">
          <button type="button" class="button top-rated-btn" data-action="top rated">
            TOP RATED
          </button>
        </li>
      </ul>
    </div>
    <ul class="list-card"></ul>
    <div id="pagination" class="tui-pagination"></div>
  </div>
</section>
