<section class="movies section">
  <div class="container">
      <ul class="list-card">
          <!-- <li class="list-card__item" data-modal-open>
              <a href="" class="list-card__link">
                  <div class="list-card__image-wrapper">
                          <img src="./images/film.jpg" alt="Название фильма" />
                  </div>
                  <div class="list-card__content">
                      <h2 class="list-card__title">Название фильма</h2>
                      <p class="list-card__text">жанр|год <span class="list-card__rating">рейтинг</span></p>
                  </div>
              </a>
          </li> -->
      </ul>
  </div>
</section>