.back_to_top {
  position: fixed;
  bottom: 40px;
  right: 0;
  z-index: 9999;
  font-weight: bolder;
  padding: 5px;
  width: 40px;
  text-align: center;
  line-height: 30px;
  background: var(--brand-orange-color);
  color: var(--primary-white-color);
  cursor: pointer;
  border-radius: 50% 0 0 50%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all var(--duration) var(--timing-function);
  @include min-width('medium') {
    right: 5%;
    bottom: 10%;

    border-radius: 50%;
  }
  @include min-width('large') {
    right: 10%;
  }
}

.back_to_top:hover {
  // color: var(--brand-orange-color);
  background: gray;
  box-shadow: 0px 8px 43px hsla(0, 0%, 100%, 0.7);
}

.back_to_top-show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
