.back_to_top {
  position: fixed;
  bottom: 40px;
  right: 0;
  z-index: 9999;
  font-weight: bolder;
  padding: 5px;
  width: 40px;
  text-align: center;
  line-height: 30px;
  background: var(--brand-orange-color);
  color: var(--primary-white-color);
  cursor: pointer;
  border-radius: 50% 0 0 50%;
  display: none;

  @include min-width('medium') {
    right: 5%;
    bottom: 10%;

    border-radius: 50%;
  }
  @include min-width('large') {
    right: 10%;
  }
}

.back_to_top:hover {
  color: var(--brand-orange-color);
  background: gray;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
}

.back_to_top-show {
  display: block;
}
