.bg-scrolling-element-when-modal-open {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  font-family: Roboto;
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 101;
  width: 280px;
  padding: 48px 20px 41px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  position: absolute;
  width: 24px;
  height: 24px;
  border: none;
  background: #ffffff;
  cursor: pointer;
}
.modal-window__film-title {
  @include font(20px, 500, 23px);
  margin-bottom: 15px;
}
.modal-window__table {
  border-collapse: collapse;
  @include font(12px, 500, 16px);
  margin-bottom: 15px;
}
.list-card__rating.ml {
  margin-left: 0;
}
.modal-window__table-refs {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #8c8c8c;
}
.modal-window__table-value {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
}

.about {
  @include font(12px, 500, 16px);

  text-transform: uppercase;
  margin-bottom: 10px;
}
.description {
  @include font(12px, 500, 20px);
  margin-bottom: 20px;
}
.button-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and(min-width:768px) {
  .modal-window {
    top: 50%;
    left: 50%;
    width: 618px;
    padding: 42px 29px 40px;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%, -50%);
  }
  .button-wrapper {
        
    justify-content: start;
    & > :first-child {
      margin-right: 15px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .modal-window {
    top: 50%;
    left: 50%;
    width: 882px;
    height: 568px;
    padding: 42px 29px 40px;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%, -50%);
  }

  .modal-window__film-title {
    @include font(30px, 500, 35px);
  }

  .button-wrapper {
    
  }
}

.modal-window__img-wrapper {
  margin-bottom: 30px;
  width: 240px;
  height: 356px;
  overflow: hidden;
  @include min-width('medium') {
    width: 264px;
    height: 374px;
    margin-bottom: 0px;
  }
  @include min-width('large') {
    width: 396px;
    height: 477px;
  }
}

.modal-window__img-wrapper > img {
  display: block;
  width: 240px;
  height: 356px;
  object-fit: cover;
  @include min-width('medium') {
    width: 264px;
    height: 374px;
  }
  @include min-width('large') {
    width: 396px;
    height: 490px;
    object-fit: contain;
  }
}

.modal-window__film-desсriptoin {
  width: 240px;
  @include min-width('medium') {
    width: 264px;
  }
  @include min-width('large') {
    width: 396px;
  }
}
