.button {
  display: block;
  cursor: pointer;
  min-width: 130px;
  height: 44px;
  padding: 14px 0 12px 0;
  border: 1px solid var(--primary-white-color);
  //   border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  @include font(12px, 500, 16px);
  color: var(--primary-white-color);
  //   color: black;
  font-family: var(--main-font);
  text-transform: uppercase;
  text-align: center;

  @include min-width('large') {
    min-width: 136px;
  }
}

.button-active {
  background: var(--brand-orange-color);
  border: var(--brand-orange-color);
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border-radius: 5px;
}

// @media screen and (min-width: 320px) {
//   .button {
//     min-width: 136px;
//   }
// }
