.button {
  display: block;
  cursor: pointer;
  min-width: 112px;
  height: 44px;
  padding: 14px 0 12px 0;
  border: 1px solid var(--text-color);
  //   border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  @include font(12px, 500, 16px);
  color: var(--text-color);
  //   color: black;
  font-family: var(--main-font);
  text-transform: uppercase;
  text-align: center;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
  transition: all var(--duration) var(--timing-function);
  @include min-width('medium') {
    min-width: 125px;
  }
  @include min-width('large') {
    min-width: 136px;
  }
}

.button:hover,
.button:focus-visible,
.button:active {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  background-color: var(--brand-orange-color);
  color: var(--primary-white-color);
}

.button.remove-from-watched,
.button.remove-from-queue {
  width: 112px;
  display: flex;
  align-items: center;
  transition: all var(--duration) var(--timing-function);
  @include min-width('medium') {
    min-width: 125px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @include min-width('large') {
    min-width: 136px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.button-active {
  background: var(--brand-orange-color);
  border: var(--brand-orange-color);
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border-radius: 5px;
  color: var(--primary-white-color);
  transition: all var(--duration) var(--timing-function);
}

.button-theme {
  border-radius: 50px;
  color: var(--primary-white-color);
  transition: all var(--duration) var(--timing-function);
}

.no-active:hover,
.no-active:focus {
  background-color: rgba(255, 107, 1, 0.288);
  // background-color: #ff6b0165;
}

.popular-btn,
.top-rated-btn,
.upcoming-btn,
.trending-tv-btn {
  color: black;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  border: 1px solid rgba(255, 107, 1, 0.6);
  border-bottom: 3px solid rgba(255, 107, 1, 0.6);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0 2px 8px rgba(255, 107, 1, 0.5), inset 0 1px rgba(255, 255, 255, 0.3),
    inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25),
    inset 0 -15px 30px rgba(255, 107, 1, 0.3);
  transition: all var(--duration) var(--timing-function);
  &:focus,
  &:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    transform: scale(1.05);
  }

  @media screen and (max-width: 767px) {
    width: 120px;
    font-size: 16px;
  }
}

.btn-lib {
  min-width: 130px;
  color: var(--primary-white-color);
  transition: all var(--duration) var(--timing-function);
  @include min-width('medium') {
    min-width: 136px;
  }
}

.btn-lib.no-active {
  border: 1px solid var(--primary-white-color);
  transition: all var(--duration) var(--timing-function);
}
// .black.popular-btn {
// }
