.filler {
  width: 100%;
  margin: 0 auto;
  border-radius: 24px;
  background-color: #ffd610;
  &__img {
    width: 100%;
    // padding-top: 10vh;
    border-radius: 24px;
  }
  &__text {
    display: block;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
}
