.theme-switch {
  display: flex;
  align-items: center;
  padding-left: 206px;
  margin-bottom: 32px;
  @include min-width('medium') {
    padding-left: 545px;
  }

  @include min-width('large') {
    padding-left: 810px;
    margin-bottom: 10px;
  }
}

.theme-switch__icon {
  color: var(--primary-white-color);
  height: 14px;
  width: 14px;
  transition: color 250ms ease-in-out;
}

.icon-sun {
  margin-right: 4px;
}

.icon-moon {
  margin-left: 4px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 36px;
  height: 14px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #818181;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: var(--primary-white-color);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms ease-in-out;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #333;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(20px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 1px #ff6b08;
}

body.light-theme {
  //background-color: rgb(206, 55, 55);
  background-image: url(../images/fon.jpg);
}

body.dark-theme {
  background-color: rgb(51, 51, 51);
  background-image: url(../images/nebo.jpg);

  & .footer {
    background: linear-gradient(180deg, rgb(51, 51, 51), rgb(156, 156, 156) 100%);
  }

  & .footer-text {
    color: rgb(51, 51, 51);
  }

  & .theme-switch__icon {
    color: var(--brand-orange-color);
  }

  & .list-card__title {
    color: var(--primary-white-color);
  }

  & .tui-pagination .tui-page-btn {
    color: var(--primary-white-color);
  }

  & .tui-ico-ellip {
    fill: var(--primary-white-color);
  }

  & .tui-pagination .tui-ico-first,
  .tui-pagination .tui-ico-last {
    fill: var(--primary-white-color);
  }

  & .tui-pagination .hide-first,
  .tui-pagination .hide-last {
    background: rgba(247, 247, 247, 0.1);
  }

  & .tui-pagination .hide-first:hover,
  & .tui-pagination .hide-last:hover {
    background: var(--brand-orange-color);
  }

  & .popular-btn,
  & .top-rated-btn {
    color: var(--primary-white-color);
  }
  & .preloader {
    background: url(../images/nebo.jpg);
  }
}
