.footer {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: -1px -8px 33px 6px rgba(0, 0, 0, 0.15);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #545454;
}

.footer-icon {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  fill: #ff6b08;
}

.developers {
  cursor: pointer;
  text-decoration: underline;
  transition: all var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--brand-orange-color);
  }
}

.footer-container {
  text-align: center;
}
