.page-header {
  @include min-width('small') {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home_320.jpg);

    @include retina('../images/home/home_320@2x.jpg', 'small');
  }

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 230px;

  @include min-width('medium') {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home_768.jpg);

    @include retina('../images/home/home_768@2x.jpg', 'medium');
  }

  @include min-width('large') {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home_1024.jpg);

    @include retina('../images/home/home_1024@2x.jpg', 'large');
  }
}

.page-lib {
  @include min-width('small') {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/my-library_320.jpg);

    @include retina('../images/library/my-library_320@2x.jpg', 'small');
  }

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 230px;

  @include min-width('medium') {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/my-library_768.jpg);

    @include retina('../images/library/my-library_768@2x.jpg', 'medium');
  }

  @include min-width('large') {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/my-library_1024.jpg);

    @include retina('../images/library/my-library_1024@2x.jpg', 'large');
  }
}

.header-container {
  padding-top: 46px;
  padding-bottom: 97px;

  //my-library
  // @include min-width('large') {
  //   padding-bottom: 65px;
  // }
}
//?
.logo {
  display: flex;
}

@include min-width('medium') {
  .logo__icon {
    margin-right: 10px;
  }
}

.logo__title {
  color: transparent;

  @include min-width('medium') {
    @include font(30px, 500, 35px);
    color: var(--primary-white-color);
  }
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 43px;

  //my library
  // @include min-width('large') {
  //   margin-bottom: 51px;
  // }
}

.menu {
  @include font(12px, 500, 14px);
  display: flex;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 39px;
}

.menu__link:hover::after,
.menu__link:focus::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  // background-color: var(--brand-orange-color);
  background-color: rgba(255, 107, 8, 0.233);
}

.menu__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: var(--brand-orange-color);
}

.header-search {
  position: relative;
  margin: 0 auto;

  @include min-width('medium') {
    width: 336px;
  }
}

.input {
  display: block;
  width: 100%;
  height: 25px;

  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid var(--primary-white-color);
  color: var(--primary-white-color);
  caret-color: var(--brand-orange-color);
  outline: none;

  &::placeholder {
    @include font(14px, 400, 16px);
    color: var(--primary-white-color);
  }

  @include min-width('medium') {
    margin: 0 auto;
    width: 336px;
  }
}

.input:hover,
.input:focus {
  border-bottom: 0.5px solid var(--brand-orange-color);
}

.search__btn {
  display: block;
  position: absolute;
  top: 33%;
  right: 0%;

  width: 12px;
  height: 12px;
}

.btn__list {
  display: flex;
  justify-content: space-between;

  @include font(12px, 500, 16px);
  text-transform: uppercase;
  color: var(--primary-white-color);

  @include min-width('medium') {
    justify-content: center;

    .btn__item:not(:last-child) {
      margin-right: 15px;
    }
  }
}
