// .header {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
//     url(../../images/home/home_320.jpg);
// }
.page-header {
  @include min-width('small') {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home_320.jpg);
  }

  background-repeat: no-repeat;
  // background-position: 50% 50%;
  background-size: cover;
}

.header-container {
  padding-top: 46px;
  padding-bottom: 97px;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 43px;

  // margin-right: 38px;
}
// @include min-width('medium');
.menu {
  @include font(12px, 500, 14px);
  display: flex;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.menu__item:not(:last-child) {
  margin-right: 39px;
}

.btn__list {
  @include font(12px, 500, 16px);
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.search-form {
  position: relative;
}

.input {
  display: block;
  width: 100%;

  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid var(--primary-white-color);

  &::placeholder {
    // font-family: var(--main-font);
    @include font(14px, 400, 16px);

    color: var(--primary-white-color);
  }
}

.search__btn {
  display: block;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 12px;
  height: 12px;
}

.btn__list {
  display: flex;
  justify-content: space-between;
}
