.basicLightbox {
  overflow: scroll;
}

.team-title {
  font-size: 20px;
  font-weight: bold;
  max-width: 600px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &::after {
    content: '';
    display: block;
    max-width: 100%;
    height: 4px;
    background-color: var(--brand-orange-color);
    margin: 0 auto;
    margin-top: 5px;
  }
}
.team-modal {
  position: relative;
  top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: -20px;
  text-align: center;
  text-decoration: none;

  @media screen and (max-width: (768px - 1)) {
    margin-top: 70px;
  }

  width: 240px;

  background-color: white;
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    width: 600px;

    border-radius: 15px;
  }

  @media screen and (min-width: 1024px) {
    margin: -30px;

    width: 800px;
  }
}
.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.team-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px;

  width: calc((100% - 80px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 160px) / 3);
  }

  @media screen and (min-width: 1024px) {
    margin: 30px;

    width: calc((100% - 240px) / 3);
  }
}

.team-image {
  margin-bottom: 10px;

  width: 100%;

  border-radius: 50%;
  box-shadow: 5px 5px 11px -2px black;
}

.team-name {
  margin-bottom: 5px;
  font-family: var(--main-font);
  font-weight: 700;
}

.team-role {
  font-family: var(--main-font);

  @media screen and (max-width: (768px - 1)) {
    font-size: 14px;
  }

  color: var(--brand-orange-color);
}

.team-git {
  position: absolute;
  cursor: pointer;
  right: -10px;

  // top: 65px;

  // @media screen and (min-width: 768px) {
  //   // top: 100px;
  // }

  // @media screen and (min-width: 1024px) {
  //   // top: 120px;
  // }

  transform: scale(1);
  //   @include transition(transform);
  transition: transform;

  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}
