.preloader {
    position: absolute;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
    transition: 0.5s opacity;
    opacity: 1;
  }

  .preloader__row {
    position: relative;
    top: 100px;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }

  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: var(--brand-orange-color);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }

  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }

  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes preloader-bounce {
    0%,
    100% {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
  }

  main:not(.loading) .preloader {
    display: none;
    opacity: 0;
  }