.spinner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
  transition: 0.5s opacity;
  opacity: 1;
}

.spinner__row {
  position: relative;
  top: 125px;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: spinner-rotate 2s infinite linear;
}

.spinner__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: var(--brand-orange-color);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: spinner-bounce 2s infinite ease-in-out;
}

.spinner__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

main:not(.loading) .spinner {
  display: none;
  opacity: 0;
}
